.container {
  width: 85%
}

.section {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

nav {
  webkit box-shadow: none;
  box-shadow: none;
}

nav a {
    color: black;
}

footer {
  margin-top: 140px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: black;
}

p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 16px;
}

h6 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 16px;
}

h5 {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 24px;
}

.card {
  webkit box-shadow: none;
  box-shadow: none;
  margin: 4rem .5rem 0rem .5rem;
}

#shop .card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity:0.8;
  transition: all .2s ease-in-out;
}

#basket {
  height: 50px;
  color: white;
}

#menu {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 16px;
}

.btn-floating {
  webkit box-shadow: none;
  box-shadow: none;
}

.btn-flat {
  min-width: 175px;
  text-align: center;
}

.btn-flat:hover {
  opacity:0.8;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.input-field>label{
  top: -40px;
}

.card .card-content {
  padding: 0;
}

span.badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: white;
    width: 10px;
}
