nav {
  webkit box-shadow: none;
  box-shadow: none;
}

.card {
  webkit box-shadow: none;
  box-shadow: none;
  margin: 4rem .5rem 0rem .5rem;
}

#menu {
  margin-top: 40px;
  margin-bottom: 10px;
}
